@use 'variables' as *;
@use 'mixins' as mixins;
@use "sass:color";

.fui-accordion {
    transition: padding 300ms ease-in-out;

    label {
        color: $secondary;
    }

    &--head {
        position: relative;
    }

    &--title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        &:hover {
            .fui-accordion--close {
                color: $accent;
            }
        }
    }

    &--close {
        user-select: none;
        transform: rotate(-45deg);
        transition: 300ms transform, color ease-in-out;
    }

    &--content {
        // transition: <property> <duration> <timing-function> <delay>;
        transition: all 800ms ease-in-out 300ms;
        display: none;
        // opacity: 0;
        // visibility: hidden;
    }

    /* Class 'open' is added to the 'fui-accordion' element upon click*/
    &.open {
        padding: 1rem;

        .fui-accordion--close {
            transform: rotate(0);
            color: $danger;
        }

        .fui-accordion--head {
            margin-bottom: 1rem;
        }

        .fui-accordion--content {
            display: block;
            opacity: 1;
            visibility: visible;
        }
    }
}

