@use 'variables' as *;

//
// Spacing
//

$spaceamounts: (
    'px': 1px,
    '0': 0,
    '1': 0.25rem,
    '2': 0.5rem,
    '3': 0.75rem,
    '4': 1rem,
    '5': 1.25rem,
    '6': 1.5rem,
    '8': 2rem,
    '10': 2.5rem,
    '12': 3rem,
    '16': 4rem,
    '20': 5rem,
    '24': 6rem,
    '32': 8rem,
    '40': 10rem,
    '48': 12rem,
    '56': 14rem,
    '64': 16rem,
);
$sides: (top, bottom, left, right);

@each $space, $amount in $spaceamounts {
    .m-#{$space} {
        margin: #{$amount} !important;
    }

    .my-#{$space} {
        margin-top: #{$amount} !important;
        margin-bottom: #{$amount} !important;
    }

    .mx-#{$space} {
        margin-left: #{$amount} !important;
        margin-right: #{$amount} !important;
    }

    .p-#{$space} {
        padding: #{$amount} !important;
    }

    .py-#{$space} {
        padding-top: #{$amount} !important;
        padding-bottom: #{$amount} !important;
    }

    .px-#{$space} {
        padding-left: #{$amount} !important;
        padding-right: #{$amount} !important;
    }

    @each $side in $sides {
        .m#{str-slice($side, 0, 1)}-#{$space} {
            margin-#{$side}: #{$amount} !important;
        }

        .p#{str-slice($side, 0, 1)}-#{$space} {
            padding-#{$side}: #{$amount} !important;
        }
    }
}

//
// Border
//

.border {
    border: 1px solid $secondary;
}

@each $side in $sides {
    .border-#{str-slice($side, 0, 1)} {
        border-#{$side}: 1px solid $secondary;
    }
}

@each $space, $amount in $spaceamounts {
    .border-#{$space} {
        border-width: $amount;
    }
}
